{%- for option in product.options_with_values -%}
<div class="bundle-5-variants svelte-jkwzt3">
  <div class="bundle-dd svelte-zpcnai">
    <div class="bundle-dd__current svelte-zpcnai type-{{ option.values | first | handleize }}" tabindex="0">
      {{ option.values | first }}
    </div>
    <input type="hidden" name="option{{ option.position }}" form="{{ product_form_id }}" value="{{ option.values | first }}" tabindex="0" data-gtm-form-interact-field-id="1">
    <div class="bundle-dd__list svelte-zpcnai">
      {%- for value in option.values -%}
      <div class="bundle-dd__item svelte-zpcnai type-{{ value | handleize }}" option-position="option{{ option.position }}" value="{{ value }}" type="type-{{ value | handleize }}" tabindex="0">
        <span>{{ value }}</span>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{%- endfor -%}